body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #2e3c50;
}

p {
    max-width: 500px; /*900px->500px*/
    margin: 0 auto 30px auto;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.hover-reveal {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-container:hover .hover-reveal {
    opacity: 1;
} 
